[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
tox-conda = "*"

[packages]
tox = "*"
tox-conda = "*"

[requires]
python_version = "3.6"
